<html>
<head>
	<title>MXQ</title>
  <script src="/static/base.js"></script>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="getSong()">
  <p id="rec" style="display:none;">{{rec}}</p>
  <p id="song" style="display:none;">{{song}}</p>
	<h1>MixQueue</h1>
  <h3 id="instructions">Song Recommendations for DJs</h3>
  <p style="text-align: center;">Instructions: Type in a song to receive a recommendation of what song could be played next.</p>
  <table>
    <tr>
      <td style="border-bottom: none;">
        <img src="/static/current.png" alt="Current Song" width="200" height="200">
        <div id="songInput">
          <label for="csong"><h4>Current Song:</h4></label><br>
          <input type="text" id="csong" name="csong"><br>
        </div>
      </td>
      <td style="border-bottom: none; vertical-align:bottom;">
        <input type="submit" value="Generate Recomendation" class="btn" onclick="getLink()"><br>
        <p id="linkGet"></p><br><br>
      </td>
      <td style="border-bottom: none;">
        <div id="songRec">
          <img src="/static/next.png" alt="Next Song" width="200" height="200">
          <label for="nsong"><h4>Next Song: </h4></label><br>
          <input type="text" id="nsong" name="nsong"><br>
        </div>
      </td>
    </tr>
  </table>
  <br>
</body>
</html>
	